<% content_for :head do %>

     <%= javascript_include_tag 'jquery/jquery.js' %>
     <%= javascript_include_tag 'wymeditor/jquery.wymeditor.pack.js' %>
    
     <%# using calendar from: http://github.com/railssignals/jquery_calendar_date_select %>
     <%= javascript_include_tag 'calendar_date_select/jquery/jquery.string.1.0.js' %>
     <%= javascript_include_tag 'calendar_date_select/jquery/jquery.calendardateselect.js' %>
      
     <%= stylesheet_link_tag '/stylesheets/calendar_date_select/jquery.calendardateselect.css' %>
	
	<script type="text/javascript" charset="utf-8">
		
		var $j = jQuery.noConflict();
		$j(function() {
			$j('.wymeditor').wymeditor({
		        xhtmlParser: 'xhtml_parser.js',
		        cssParser:   'wym_css_parser.js'
		    });
		});

                jQuery(document).ready(function($){
                    $(".cal").datetimeselect();
                });

	</script>
<% end %>

<table class="admin-report" width="545">
  <tr>
    <td valign="top"><%=t('title')%></td>
    <td><%= f.text_field :title, {"style" => "width:500px;"} %></td>
  </tr>
  <tr>
    <td valign="top"><%=t('venue')%></td>
    <td><%= f.text_field :venue, {"style" => "width:500px;"}  %></td> 
  </tr>
  <tr>
    <td valign="top"><%=t('sponsor')%></td>
    <td><%= f.text_field :sponsor, {"style" => "width:500px;"}  %></td> 
  </tr>
  <tr>
    <td valign="top"><%=t('begin')%></td>
    <td><%= f.text_field :begin_event, {"class" => "cal", "style" => "width:500px;"}  %></td>
  </tr>
  <tr>
    <td valign="top"><%=t('end')%></td>
    <td><%= f.text_field :end_event, {"class" => "cal", "style" => "width:500px;"}  %></td>
  </tr>
  <tr>
    <td valign="top"><%=t('start_time')%></td>
    <td><%= f.text_field :start_time, {"style" => "width: 500px;"} %></td>
  </tr>
  <tr>
    <td valign="top"><%=t('further_information')%></td>
    <td><%= f.text_field :further_information, {"style" => "width:500px;"}  %></td> 
  </tr>
  <tr>
    <td valign="top"><%=t('summary')%></td>
    <td><%= f.text_area :summary, {"style" => "width:500px; height:200px;", "class"=> "wymeditor"} %></td> 
  </tr>
  <tr>
    <td valign="top"><%=t("full_description")%>:</td>
    <td><%= f.text_area :full_description, {"style" => "width:500px; height:500px;", "class"=> "wymeditor"} %></td>
  </tr>
    <tr>
    <td valign="top"><%=t('visible')%></td>
    <td><%= f.check_box :visible %></td> 
  </tr>
  <tr>
    <td valign="top"><%=t('image')%></td>
    <td><%= image_tag(@event.image.url(:thumb)) + "<br/>" if not @event.image.size.nil? %><%= f.file_field :image, {"style" => "width:500px;"}  %></td> 
  </tr>
</table>
