<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("editing_event") %></h1>
<%= error_messages_for :event %>

<%= form_for(:event, :url => object_url, :html => { :multipart => true, :method => :put }) do |f| -%>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%=submit_tag t("update"), {"class" => "wymupdate"}%> or <%= link_to t("cancel"), admin_events_path%>
  </p>
<% end %>
